# Data Management and Database Design INFO 6210 
Movie Database

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\RAJ_PATIL77\Downloads\DMDD\cleandata.csv") # improting the csv file into a dataframe using the read_csv funxtion
df.head(5)

,Unnamed: 0,Unnamed: 0.1,movie_imdb_link,imdbID,Title,Released,Director,imdbRating,ProductionName1,BoxOfficeAmount1,Actor1,Actor2,Actor3,Actor4,Lan1,Lan2,Country1,Country2
0,0,0,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,tt0499549,Avatar,18-Dec-09,James Cameron,7.8,20th Century Fox,"$749,700,000",Sam Worthington,Zoe Saldana,Sigourney Weaver,Stephen Lang,"English,",Spanish,"UK,",USA
1,1,1,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,tt0449088,Pirates of the Caribbean: At World's End,25-May-07,Gore Verbinski,7.1,Buena Vista,"$309,404,152",Johnny Depp,Geoffrey Rush,Orlando Bloom,Keira Knightley,English,NaN,USA,NaN
2,2,2,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,tt2379713,Spectre,6-Nov-15,Sam Mendes,6.8,Sony Pictures,"$208,777,731",Daniel Craig,Christoph Waltz,Léa Seydoux,Ralph Fiennes,"English,","Spanish,","UK,",USA
3,3,3,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,tt1345836,The Dark Knight Rises,20-Jul-12,Christopher Nolan,8.4,Warner Bros. Pictures,"$448,130,642",Christian Bale,Gary Oldman,Tom Hardy,Joseph Gordon-Levitt,"English,",Arabic,"UK,",USA
4,4,4,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,tt5289954,Star Wars: Episode VII - The Force Awakens,18-Dec-15,Doug Walker,7.2,NaN,NaN,Doug Walker,Rob Walker,NaN,NaN,NaN,NaN,NaN,NaN

### I have directly imported the cleaned data above and filled all of it's NaN values with null using the 'fillna' function of datafame library

In [8]:
df.fillna('Null')

,Unnamed: 0,Unnamed: 0.1,movie_imdb_link,imdbID,Title,Released,Director,imdbRating,ProductionName1,BoxOfficeAmount1,Actor1,Actor2,Actor3,Actor4,Lan1,Lan2,Country1,Country2
0,0,0,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,tt0499549,Avatar,18-Dec-09,James Cameron,7.8,20th Century Fox,"$749,700,000",Sam Worthington,Zoe Saldana,Sigourney Weaver,Stephen Lang,"English,",Spanish,"UK,",USA
1,1,1,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,tt0449088,Pirates of the Caribbean: At World's End,25-May-07,Gore Verbinski,7.1,Buena Vista,"$309,404,152",Johnny Depp,Geoffrey Rush,Orlando Bloom,Keira Knightley,English,Null,USA,Null
2,2,2,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,tt2379713,Spectre,6-Nov-15,Sam Mendes,6.8,Sony Pictures,"$208,777,731",Daniel Craig,Christoph Waltz,Léa Seydoux,Ralph Fiennes,"English,","Spanish,","UK,",USA
3,3,3,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,tt1345836,The Dark Knight Rises,20-Jul-12,Christopher Nolan,8.4,Warner Bros. Pictures,"$448,130,642",Christian Bale,Gary Oldman,Tom Hardy,Joseph Gordon-Levitt,"English,",Arabic,"UK,",USA
4,4,4,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,tt5289954,Star Wars: Episode VII - The Force Awakens,18-Dec-15,Doug Walker,7.2,Null,Null,Doug Walker,Rob Walker,Null,Null,Null,Null,Null,Null
5,5,5,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,tt0401729,John Carter,9-Mar-12,Andrew Stanton,6.6,Walt Disney Pictures,"$73,058,679",Taylor Kitsch,Lynn Collins,Samantha Morton,Willem Dafoe,English,Null,USA,Null
6,6,6,http://www.imdb.com/title/tt0413300/?ref_=fn_t...,tt0413300,Spider-Man 3,4-May-07,Sam Raimi,6.2,Sony Pictures,"$336,530,303",Tobey Maguire,Kirsten Dunst,James Franco,Thomas Haden Church,"English,",French,USA,Null
7,22,22,http://www.imdb.com/title/tt0398286/?ref_=fn_t...,tt0398286,Tangled,24-Nov-10,"Nathan Greno, Byron Howard",7.8,Walt Disney Pictures,"$200,803,309",Mandy Moore,Zachary Levi,Donna Murphy,Ron Perlman,English,Null,USA,Null
8,23,23,http://www.imdb.com/title/tt2395427/?ref_=fn_t...,tt2395427,Avengers: Age of Ultron,1-May-15,Joss Whedon,7.4,Walt Disney Pictures,"$429,113,729",Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,Chris Evans,English,Null,USA,Null
9,24,24,http://www.imdb.com/title/tt0417741/?ref_=fn_t...,tt0417741,Harry Potter and the Half-Blood Prince,15-Jul-09,David Yates,7.6,Warner Bros. Pictures,"$301,920,409",Daniel Radcliffe,Michael Gambon,Dave Legeno,Elarica Johnson,English,Null,"UK,",USA
10,25,25,http://www.imdb.com/title/tt2975590/?ref_=fn_t...,tt2975590,Batman v Superman: Dawn of Justice,25-Mar-16,Zack Snyder,6.6,Warner Bros. Pictures,"$293,792,936",Ben Affleck,Henry Cavill,Amy Adams,Jesse Eisenberg,English,Null,USA,Null
11,26,26,http://www.imdb.com/title/tt0348150/?ref_=fn_t...,tt0348150,Superman Returns,28-Jun-06,Bryan Singer,6.1,Warner Bros. Pictures,"$200,100,000",Brandon Routh,Kate Bosworth,Kevin Spacey,James Marsden,"English,","German,",USA,Null
12,27,27,http://www.imdb.com/title/tt0830515/?ref_=fn_t...,tt0830515,Quantum of Solace,14-Nov-08,Marc Forster,6.6,Sony/MGM,"$168,400,000",Daniel Craig,Olga Kurylenko,Mathieu Amalric,Judi Dench,"English,","Spanish,","UK,",USA
13,28,28,http://www.imdb.com/title/tt0383574/?ref_=fn_t...,tt0383574,Pirates of the Caribbean: Dead Man's Chest,7-Jul-06,Gore Verbinski,7.3,Buena Vista,"$423,032,628",Johnny Depp,Orlando Bloom,Keira Knightley,Jack Davenport,"English,","Turkish,",USA,Null
14,29,29,http://www.imdb.com/title/tt1210819/?ref_=fn_t...,tt1210819,The Lone Ranger,3-Jul-13,Gore Verbinski,6.5,Walt Disney Pictures,"$89,289,910",Johnny Depp,Armie Hammer,William Fichtner,Tom Wilkinson,"English,",North,USA,Null
15,30,30,http://www.imdb.com/title/tt0770828/?ref_=fn_t...,tt0770828,Man of Steel,14-Jun-13,Zack Snyder,7.1,Warner Bros. Pictures,"$291,021,565",Henry Cavill,Amy Adams,Michael Shannon,Diane Lane,English,Null,"USA,",UK
16,31,31,http://www.imdb.com/title/tt0499448/?ref_=fn_t...,tt0499448,The Chronicles of Narnia: Prince Caspian,16-May-08,Andrew Adamson,6.5,Walt Disney Pictures,"$141,614,023",Ben Barnes,Georgie Henley,Skandar Keynes,William Moseley,English,Null,"USA,","Poland,"
17,32,32,http://www.imdb.com/title/tt0848228/?ref_=fn_t...,tt0848228,The Avengers,4-May-12,Joss Whedon,8.1,Walt Disney Pictures,"$623,279,547",Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chris Hemsworth,"English,","Russian,",USA,Null
18,48,48,http://www.imdb.com/title/tt1298650/?ref_=fn_t...,tt1298650,Pirates of the Caribbean: On Stranger Tides,20-May-11,Rob Marshall,6.6,Walt Disney Pictures,"$241,063,875",Johnny Depp,Penélope Cruz,Geoffrey Rush,Ian McShane,"English,",Spanish,"USA,",UK
19,49,49,http://www.imdb.com/title/tt1409024/?ref_=fn_t...,tt1409024,Men in Black 3,25-May-12,Barry Sonnenfeld,6.8,Sony Pictures,"$179,020,854",Will Smith,Tommy Lee Jones,Josh Brolin,Jemaine Clement,"English,",Ukrainian,USA,Null
20,50,50,http://www.imdb.com/title/tt2310332/?ref_=fn_t...,tt2310332,The Hobbit: The Battle of the Five Armies,17-Dec-14,Peter Jackson,7.4,Warner Bros.,"$187,747,747",Ian McKellen,Martin Freeman,Richard Armitage,Ken Stott,English,Null,New,"Zealand,"
21,51,51,http://www.imdb.com/title/tt0948470/?ref_=fn_t...,tt0948470,The Amazing Spider-Man,3-Jul-12,Marc Webb,7,Sony Pictures,"$262,030,663",Andrew Garfield,Emma Stone,Rhys Ifans,Denis Leary,English,Null,USA,Null
22,52,52,http://www.imdb.com/title/tt0955308/?ref_=fn_t...,tt0955308,Robin Hood,14-May-10,Ridley Scott,6.7,Universal,"$105,219,735",Russell Crowe,Cate Blanchett,Max von Sydow,William Hurt,"English,","French,","USA,",UK
23,53,53,http://www.imdb.com/title/tt1170358/?ref_=fn_t...,tt1170358,The Hobbit: The Desolation of Smaug,13-Dec-13,Peter Jackson,7.9,Warner Bros.,"$180,443,783",Ian McKellen,Martin Freeman,Richard Armitage,Ken Stott,English,Null,"USA,",New
24,54,54,http://www.imdb.com/title/tt0385752/?ref_=fn_t...,tt0385752,The Golden Compass,7-Dec-07,Chris Weitz,6.1,New Line Cinema,"$70,100,000",Nicole Kidman,Daniel Craig,Dakota Blue Richards,Ben Walker,"English,","Icelandic,","UK,",USA
25,55,55,http://www.imdb.com/title/tt0360717/?ref_=fn_t...,tt0360717,King Kong,14-Dec-05,Peter Jackson,7.2,Universal Pictures,"$218,100,000",Naomi Watts,Jack Black,Adrien Brody,Thomas Kretschmann,English,Null,New,"Zealand,"
26,136,136,http://www.imdb.com/title/tt0120338/?ref_=fn_t...,tt0120338,Titanic,19-Dec-97,James Cameron,7.8,Paramount Pictures,Null,Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates,"English,",Swedish,USA,Null
27,137,137,http://www.imdb.com/title/tt3498820/?ref_=fn_t...,tt3498820,Captain America: Civil War,6-May-16,"Anthony Russo, Joe Russo",7.8,Walt Disney Pictures,"$408,080,554",Chris Evans,Robert Downey Jr.,Scarlett Johansson,Sebastian Stan,"English,","German,","USA,",Germany
28,138,138,http://www.imdb.com/title/tt1440129/?ref_=fn_t...,tt1440129,Battleship,18-May-12,Peter Berg,5.8,Universal,"$65,173,160",Taylor Kitsch,Alexander Skarsgård,Rihanna,Brooklyn Decker,"English,",Japanese,USA,Null
29,139,139,http://www.imdb.com/title/tt0369610/?ref_=fn_t...,tt0369610,Jurassic World,12-Jun-15,Colin Trevorrow,7,Universal Pictures,"$528,757,749",Chris Pratt,Bryce Dallas Howard,Irrfan Khan,Vincent D'Onofrio,English,Null,USA,Null
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4320,6307,6307,http://www.imdb.com/title/tt0436742/?ref_=fn_t...,tt0109445,Clerks,9-Nov-94,Kevin Smith,7.8,Miramax Films,Null,Brian O'Halloran,Jeff Anderson,Marilyn Ghigliotti,Lisa Spoonauer,English,Null,USA,Null
4321,6308,6308,http://www.imdb.com/title/tt3110770/?ref_=fn_t...,tt0067580,Pink Narcissus,13-Mar-93,James Bidgood,6.8,Strand Releasing,Null,Don Brooks,Bobby Kendall,Null,Null,English,Null,USA,Null
4322,6309,6309,http://www.imdb.com/title/tt0395543/?ref_=fn_t...,tt0327753,Funny Ha Ha,19-Apr-07,Andrew Bujalski,6.4,Goodbye Cruel Releasing,Null,Kate Dollenmayer,Mark Herlehy,Christian Rudder,Jennifer L. Schaper,English,Null,USA,Null
4323,6310,6310,http://www.imdb.com/title/tt1562847/?ref_=fn_t...,tt0119361,In the Company of Men,1-Aug-97,Neil LaBute,7.3,Sony Pictures Classics,Null,Aaron Eckhart,Stacy Edwards,Matt Malloy,Michael Martin,"English,",American,"Canada,",USA
4324,6311,6311,http://www.imdb.com/title/tt1087527/?ref_=fn_t...,tt0298050,Manito,15-Jan-02,Eric Eason,6.9,Film Movement,Null,Franky G,Leo Minaya,Manuel Cabral,Jessica Morales,English,Null,USA,Null
4325,6312,6312,http://www.imdb.com/title/tt2265431/?ref_=fn_t...,tt1337057,Rampage,29-Apr-10,Uwe Boll,6.3,Phase 4 Films,Null,Brendan Fletcher,Shaun Sipos,Michael Paré,Matt Frewer,English,Null,"Canada,",Germany
4326,6313,6313,http://www.imdb.com/title/tt1731697/?ref_=fn_t...,tt0102943,Slacker,5-Jul-91,Richard Linklater,7.1,The Criterion Collection,Null,Richard Linklater,Rudy Basquez,Jean Caffeine,Jan Hockey,English,Null,USA,Null
4327,6314,6314,http://www.imdb.com/title/tt3504048/?ref_=fn_t...,tt2759066,Dutch Kills,2-Oct-15,Joseph Mazzella,5.1,Null,Null,R.L. Mann,Tama Filianga,Mikaal Bates,Celestine Rae,English,Null,USA,Null
4328,6315,6315,http://www.imdb.com/title/tt0473107/?ref_=fn_t...,tt2375036,Dry Spell,14-Feb-13,Travis Legge,3.3,FilmBuff,Null,Suzi Lorraine,Jared Degado,Kris Eivers,Heather Dorff,English,Null,USA,Null
4329,6316,6316,http://www.imdb.com/title/tt0475271/?ref_=fn_t...,tt0425027,Flywheel,25-Jul-03,Alex Kendrick,7,Sony Pictures Entertainment,Null,Rosetta Harris Armstrong,Lisa Arnold,Blake Bailey,Jansen Barnes,English,Null,USA,Null
4330,6317,6317,http://www.imdb.com/title/tt1639397/?ref_=fn_t...,tt1945044,Exeter,1-Jan-15,Marcus Nispel,4.6,Viva Pictures,Null,Stephen Lang,Kevin Chapman,Kelly Blatz,Brittany Curran,English,Null,USA,Null
4331,6318,6318,http://www.imdb.com/title/tt2017486/?ref_=fn_t...,tt1781935,The Ridges,15-Oct-11,Brandon Landers,2.9,Null,Null,Robbie Barnes,Robert Grant,Alana Kaniewski,Ryan Dunk,English,Null,USA,Null
4332,6319,6319,http://www.imdb.com/title/tt3626436/?ref_=fn_t...,tt0436689,The Puffy Chair,27-Apr-07,"Jay Duplass, Mark Duplass",6.6,Null,Null,Mark Duplass,Katie Aselton,Rhett Wilkins,Julie Fischer,English,Null,USA,Null
4333,6320,6320,http://www.imdb.com/title/tt1105355/?ref_=fn_t...,tt3973612,Stories of Our Lives,17-Feb-15,Jim Chuchu,7.5,Null,Null,Kelly Gichohi,Paul Ogola,Tim Mutungi,Mugambi Nthiga,"Swahili,",English,"Kenya,",South
4334,6321,6321,http://www.imdb.com/title/tt3781616/?ref_=fn_t...,tt1247644,Breaking Upwards,14-Mar-09,Daryl Wein,6.2,IFC Films,Null,Zoe Lister-Jones,Daryl Wein,Julie White,Andrea Martin,English,Null,USA,Null
4335,6322,6322,http://www.imdb.com/title/tt0790724/?ref_=fn_t...,tt1836212,All Superheroes Must Die,4-Jan-13,Jason Trost,4,Image Entertainment,Null,Jason Trost,Lucas Till,James Remar,Sophie Merkley,English,Null,USA,Null
4336,6323,6323,http://www.imdb.com/title/tt3526286/?ref_=fn_t...,tt0069089,Pink Flamingos,1-Oct-79,John Waters,6.1,New Line Cinema,Null,Divine,David Lochary,Mary Vivian Pearce,Mink Stole,English,Null,USA,Null
4337,6324,6324,http://www.imdb.com/title/tt1236254/?ref_=fn_t...,tt0388838,Clean,1-Sep-04,Olivier Assayas,6.9,Palm,Null,Maggie Cheung,Nick Nolte,Béatrice Dalle,Jeanne Balibar,"French,","English,","France,","Canada,"
4338,6325,6325,http://www.imdb.com/title/tt0029583/?ref_=fn_t...,tt0255094,The Circle,9-Sep-00,Jafar Panahi,7.5,Winstar Cinema,Null,Nargess Mamizadeh,Maryiam Palvin Almani,Mojgan Faramarzi,Elham Saboktakin,Persian,Null,"Iran,","Italy,"
4339,6326,6326,http://www.imdb.com/title/tt0300270/?ref_=fn_t...,tt1235811,Tin Can Man,1-Mar-12,Ivan Kavanagh,6.5,MVD Entertainment Group,Null,Patrick O'Donnell,Michael Parle,Emma Eliza Regan,Kreeta Taponen,English,Null,Ireland,Null
4340,6327,6327,http://www.imdb.com/title/tt0063592/?ref_=fn_t...,tt0123948,The Cure,8-Jul-01,Kiyoshi Kurosawa,7.4,Cowboy Pictures,Null,Kôji Yakusho,Masato Hagiwara,Tsuyoshi Ujiki,Anna Nakagawa,"Japanese,",Spanish,Japan,Null
4341,6328,6328,http://www.imdb.com/title/tt0374639/?ref_=fn_t...,tt0390323,On the Downlow,11-Jun-04,Tadeo Garcia,6,Docurama,Null,Tony Sancho,Michael Cortez,Donato Cruz,Felipe Camacho,English,Null,USA,Null
4342,6329,6329,http://www.imdb.com/title/tt4063178/?ref_=fn_t...,tt2049518,Sanctuary; Quite a Conundrum,20-Jan-12,Thomas L. Phillips,5.3,T-Street Productions,Null,Sasha Ramos,Erin Cline,Emily Rogers,Anthony Rutowicz,English,Null,USA,Null
4343,6330,6330,http://www.imdb.com/title/tt2577172/?ref_=fn_t...,tt0109266,Bang,1-Nov-97,Ash Baron-Cohen,6.4,Renegade Film,Null,Darling Narita,Peter Greene,Michael Newland,Erik Schrody,English,Null,USA,Null
4344,6331,6331,http://www.imdb.com/title/tt3230082/?ref_=fn_t...,tt0390384,Primer,27-May-05,Shane Carruth,6.9,ThinkFilm,"$392,420",Shane Carruth,David Sullivan,Casey Gooden,Anand Upadhyaya,"English,",French,USA,Null
4345,6332,6332,http://www.imdb.com/title/tt0464054/?ref_=fn_t...,tt0428303,Cavite,12-Mar-05,"Neill Dela Llana, Ian Gamazon",6.3,Gorilla Films,Null,Ian Gamazon,Edwin Lagda,Edgar Tancangco,Norma Tancangco,"English,","Filipino,","Philippines,",USA
4346,6333,6333,http://www.imdb.com/title/tt0060153/?ref_=fn_t...,tt0104815,El Mariachi,26-Feb-93,Robert Rodriguez,6.9,Sony Pictures Home Entertainment,Null,Carlos Gallardo,Consuelo Gómez,Jaime de Hoyos,Peter Marquardt,Spanish,Null,USA,Null
4347,6334,6334,http://www.imdb.com/title/tt0120735/?ref_=fn_t...,tt0430371,The Mongol King,23-Apr-05,Anthony Vallone,7.9,Null,Null,John Considine,Gerry Cooper,Carey Crim,Jessica Elassaad,English,Null,USA,Null
4348,6335,6335,http://www.imdb.com/title/tt3551840/?ref_=fn_t...,tt1880418,Newlyweds,26-Dec-11,Edward Burns,6.4,Phase 4 Films,Null,Edward Burns,Kerry Bishé,Marsha Dietlein,Caitlin FitzGerald,English,Null,USA,Null
4349,6336,6336,http://www.imdb.com/title/tt0068135/?ref_=fn_t...,tt3000844,Signed Sealed Delivered,12-Oct-13,Scott Smith,7.7,Null,Null,Eric Mabius,Kristin Booth,Crystal Lowe,Geoff Gustafson,English,Null,Canada,Null

In [9]:
df=df.drop_duplicates(subset=['Title']) # dropping the duplicate rows if any before starting to create a database.

In [10]:
df

,Unnamed: 0,Unnamed: 0.1,movie_imdb_link,imdbID,Title,Released,Director,imdbRating,ProductionName1,BoxOfficeAmount1,Actor1,Actor2,Actor3,Actor4,Lan1,Lan2,Country1,Country2
0,0,0,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,tt0499549,Avatar,18-Dec-09,James Cameron,7.8,20th Century Fox,"$749,700,000",Sam Worthington,Zoe Saldana,Sigourney Weaver,Stephen Lang,"English,",Spanish,"UK,",USA
1,1,1,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,tt0449088,Pirates of the Caribbean: At World's End,25-May-07,Gore Verbinski,7.1,Buena Vista,"$309,404,152",Johnny Depp,Geoffrey Rush,Orlando Bloom,Keira Knightley,English,NaN,USA,NaN
2,2,2,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,tt2379713,Spectre,6-Nov-15,Sam Mendes,6.8,Sony Pictures,"$208,777,731",Daniel Craig,Christoph Waltz,Léa Seydoux,Ralph Fiennes,"English,","Spanish,","UK,",USA
3,3,3,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,tt1345836,The Dark Knight Rises,20-Jul-12,Christopher Nolan,8.4,Warner Bros. Pictures,"$448,130,642",Christian Bale,Gary Oldman,Tom Hardy,Joseph Gordon-Levitt,"English,",Arabic,"UK,",USA
4,4,4,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,tt5289954,Star Wars: Episode VII - The Force Awakens,18-Dec-15,Doug Walker,7.2,NaN,NaN,Doug Walker,Rob Walker,NaN,NaN,NaN,NaN,NaN,NaN
5,5,5,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,tt0401729,John Carter,9-Mar-12,Andrew Stanton,6.6,Walt Disney Pictures,"$73,058,679",Taylor Kitsch,Lynn Collins,Samantha Morton,Willem Dafoe,English,NaN,USA,NaN
6,6,6,http://www.imdb.com/title/tt0413300/?ref_=fn_t...,tt0413300,Spider-Man 3,4-May-07,Sam Raimi,6.2,Sony Pictures,"$336,530,303",Tobey Maguire,Kirsten Dunst,James Franco,Thomas Haden Church,"English,",French,USA,NaN
7,22,22,http://www.imdb.com/title/tt0398286/?ref_=fn_t...,tt0398286,Tangled,24-Nov-10,"Nathan Greno, Byron Howard",7.8,Walt Disney Pictures,"$200,803,309",Mandy Moore,Zachary Levi,Donna Murphy,Ron Perlman,English,NaN,USA,NaN
8,23,23,http://www.imdb.com/title/tt2395427/?ref_=fn_t...,tt2395427,Avengers: Age of Ultron,1-May-15,Joss Whedon,7.4,Walt Disney Pictures,"$429,113,729",Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,Chris Evans,English,NaN,USA,NaN
9,24,24,http://www.imdb.com/title/tt0417741/?ref_=fn_t...,tt0417741,Harry Potter and the Half-Blood Prince,15-Jul-09,David Yates,7.6,Warner Bros. Pictures,"$301,920,409",Daniel Radcliffe,Michael Gambon,Dave Legeno,Elarica Johnson,English,NaN,"UK,",USA
10,25,25,http://www.imdb.com/title/tt2975590/?ref_=fn_t...,tt2975590,Batman v Superman: Dawn of Justice,25-Mar-16,Zack Snyder,6.6,Warner Bros. Pictures,"$293,792,936",Ben Affleck,Henry Cavill,Amy Adams,Jesse Eisenberg,English,NaN,USA,NaN
11,26,26,http://www.imdb.com/title/tt0348150/?ref_=fn_t...,tt0348150,Superman Returns,28-Jun-06,Bryan Singer,6.1,Warner Bros. Pictures,"$200,100,000",Brandon Routh,Kate Bosworth,Kevin Spacey,James Marsden,"English,","German,",USA,NaN
12,27,27,http://www.imdb.com/title/tt0830515/?ref_=fn_t...,tt0830515,Quantum of Solace,14-Nov-08,Marc Forster,6.6,Sony/MGM,"$168,400,000",Daniel Craig,Olga Kurylenko,Mathieu Amalric,Judi Dench,"English,","Spanish,","UK,",USA
13,28,28,http://www.imdb.com/title/tt0383574/?ref_=fn_t...,tt0383574,Pirates of the Caribbean: Dead Man's Chest,7-Jul-06,Gore Verbinski,7.3,Buena Vista,"$423,032,628",Johnny Depp,Orlando Bloom,Keira Knightley,Jack Davenport,"English,","Turkish,",USA,NaN
14,29,29,http://www.imdb.com/title/tt1210819/?ref_=fn_t...,tt1210819,The Lone Ranger,3-Jul-13,Gore Verbinski,6.5,Walt Disney Pictures,"$89,289,910",Johnny Depp,Armie Hammer,William Fichtner,Tom Wilkinson,"English,",North,USA,NaN
15,30,30,http://www.imdb.com/title/tt0770828/?ref_=fn_t...,tt0770828,Man of Steel,14-Jun-13,Zack Snyder,7.1,Warner Bros. Pictures,"$291,021,565",Henry Cavill,Amy Adams,Michael Shannon,Diane Lane,English,NaN,"USA,",UK
16,31,31,http://www.imdb.com/title/tt0499448/?ref_=fn_t...,tt0499448,The Chronicles of Narnia: Prince Caspian,16-May-08,Andrew Adamson,6.5,Walt Disney Pictures,"$141,614,023",Ben Barnes,Georgie Henley,Skandar Keynes,William Moseley,English,NaN,"USA,","Poland,"
17,32,32,http://www.imdb.com/title/tt0848228/?ref_=fn_t...,tt0848228,The Avengers,4-May-12,Joss Whedon,8.1,Walt Disney Pictures,"$623,279,547",Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chris Hemsworth,"English,","Russian,",USA,NaN
18,48,48,http://www.imdb.com/title/tt1298650/?ref_=fn_t...,tt1298650,Pirates of the Caribbean: On Stranger Tides,20-May-11,Rob Marshall,6.6,Walt Disney Pictures,"$241,063,875",Johnny Depp,Penélope Cruz,Geoffrey Rush,Ian McShane,"English,",Spanish,"USA,",UK
19,49,49,http://www.imdb.com/title/tt1409024/?ref_=fn_t...,tt1409024,Men in Black 3,25-May-12,Barry Sonnenfeld,6.8,Sony Pictures,"$179,020,854",Will Smith,Tommy Lee Jones,Josh Brolin,Jemaine Clement,"English,",Ukrainian,USA,NaN
20,50,50,http://www.imdb.com/title/tt2310332/?ref_=fn_t...,tt2310332,The Hobbit: The Battle of the Five Armies,17-Dec-14,Peter Jackson,7.4,Warner Bros.,"$187,747,747",Ian McKellen,Martin Freeman,Richard Armitage,Ken Stott,English,NaN,New,"Zealand,"
21,51,51,http://www.imdb.com/title/tt0948470/?ref_=fn_t...,tt0948470,The Amazing Spider-Man,3-Jul-12,Marc Webb,7.0,Sony Pictures,"$262,030,663",Andrew Garfield,Emma Stone,Rhys Ifans,Denis Leary,English,NaN,USA,NaN
22,52,52,http://www.imdb.com/title/tt0955308/?ref_=fn_t...,tt0955308,Robin Hood,14-May-10,Ridley Scott,6.7,Universal,"$105,219,735",Russell Crowe,Cate Blanchett,Max von Sydow,William Hurt,"English,","French,","USA,",UK
23,53,53,http://www.imdb.com/title/tt1170358/?ref_=fn_t...,tt1170358,The Hobbit: The Desolation of Smaug,13-Dec-13,Peter Jackson,7.9,Warner Bros.,"$180,443,783",Ian McKellen,Martin Freeman,Richard Armitage,Ken Stott,English,NaN,"USA,",New
24,54,54,http://www.imdb.com/title/tt0385752/?ref_=fn_t...,tt0385752,The Golden Compass,7-Dec-07,Chris Weitz,6.1,New Line Cinema,"$70,100,000",Nicole Kidman,Daniel Craig,Dakota Blue Richards,Ben Walker,"English,","Icelandic,","UK,",USA
25,55,55,http://www.imdb.com/title/tt0360717/?ref_=fn_t...,tt0360717,King Kong,14-Dec-05,Peter Jackson,7.2,Universal Pictures,"$218,100,000",Naomi Watts,Jack Black,Adrien Brody,Thomas Kretschmann,English,NaN,New,"Zealand,"
26,136,136,http://www.imdb.com/title/tt0120338/?ref_=fn_t...,tt0120338,Titanic,19-Dec-97,James Cameron,7.8,Paramount Pictures,NaN,Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates,"English,",Swedish,USA,NaN
27,137,137,http://www.imdb.com/title/tt3498820/?ref_=fn_t...,tt3498820,Captain America: Civil War,6-May-16,"Anthony Russo, Joe Russo",7.8,Walt Disney Pictures,"$408,080,554",Chris Evans,Robert Downey Jr.,Scarlett Johansson,Sebastian Stan,"English,","German,","USA,",Germany
28,138,138,http://www.imdb.com/title/tt1440129/?ref_=fn_t...,tt1440129,Battleship,18-May-12,Peter Berg,5.8,Universal,"$65,173,160",Taylor Kitsch,Alexander Skarsgård,Rihanna,Brooklyn Decker,"English,",Japanese,USA,NaN
29,139,139,http://www.imdb.com/title/tt0369610/?ref_=fn_t...,tt0369610,Jurassic World,12-Jun-15,Colin Trevorrow,7.0,Universal Pictures,"$528,757,749",Chris Pratt,Bryce Dallas Howard,Irrfan Khan,Vincent D'Onofrio,English,NaN,USA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4320,6307,6307,http://www.imdb.com/title/tt0436742/?ref_=fn_t...,tt0109445,Clerks,9-Nov-94,Kevin Smith,7.8,Miramax Films,NaN,Brian O'Halloran,Jeff Anderson,Marilyn Ghigliotti,Lisa Spoonauer,English,NaN,USA,NaN
4321,6308,6308,http://www.imdb.com/title/tt3110770/?ref_=fn_t...,tt0067580,Pink Narcissus,13-Mar-93,James Bidgood,6.8,Strand Releasing,NaN,Don Brooks,Bobby Kendall,NaN,NaN,English,NaN,USA,NaN
4322,6309,6309,http://www.imdb.com/title/tt0395543/?ref_=fn_t...,tt0327753,Funny Ha Ha,19-Apr-07,Andrew Bujalski,6.4,Goodbye Cruel Releasing,NaN,Kate Dollenmayer,Mark Herlehy,Christian Rudder,Jennifer L. Schaper,English,NaN,USA,NaN
4323,6310,6310,http://www.imdb.com/title/tt1562847/?ref_=fn_t...,tt0119361,In the Company of Men,1-Aug-97,Neil LaBute,7.3,Sony Pictures Classics,NaN,Aaron Eckhart,Stacy Edwards,Matt Malloy,Michael Martin,"English,",American,"Canada,",USA
4324,6311,6311,http://www.imdb.com/title/tt1087527/?ref_=fn_t...,tt0298050,Manito,15-Jan-02,Eric Eason,6.9,Film Movement,NaN,Franky G,Leo Minaya,Manuel Cabral,Jessica Morales,English,NaN,USA,NaN
4325,6312,6312,http://www.imdb.com/title/tt2265431/?ref_=fn_t...,tt1337057,Rampage,29-Apr-10,Uwe Boll,6.3,Phase 4 Films,NaN,Brendan Fletcher,Shaun Sipos,Michael Paré,Matt Frewer,English,NaN,"Canada,",Germany
4326,6313,6313,http://www.imdb.com/title/tt1731697/?ref_=fn_t...,tt0102943,Slacker,5-Jul-91,Richard Linklater,7.1,The Criterion Collection,NaN,Richard Linklater,Rudy Basquez,Jean Caffeine,Jan Hockey,English,NaN,USA,NaN
4327,6314,6314,http://www.imdb.com/title/tt3504048/?ref_=fn_t...,tt2759066,Dutch Kills,2-Oct-15,Joseph Mazzella,5.1,NaN,NaN,R.L. Mann,Tama Filianga,Mikaal Bates,Celestine Rae,English,NaN,USA,NaN
4328,6315,6315,http://www.imdb.com/title/tt0473107/?ref_=fn_t...,tt2375036,Dry Spell,14-Feb-13,Travis Legge,3.3,FilmBuff,NaN,Suzi Lorraine,Jared Degado,Kris Eivers,Heather Dorff,English,NaN,USA,NaN
4329,6316,6316,http://www.imdb.com/title/tt0475271/?ref_=fn_t...,tt0425027,Flywheel,25-Jul-03,Alex Kendrick,7.0,Sony Pictures Entertainment,NaN,Rosetta Harris Armstrong,Lisa Arnold,Blake Bailey,Jansen Barnes,English,NaN,USA,NaN
4330,6317,6317,http://www.imdb.com/title/tt1639397/?ref_=fn_t...,tt1945044,Exeter,1-Jan-15,Marcus Nispel,4.6,Viva Pictures,NaN,Stephen Lang,Kevin Chapman,Kelly Blatz,Brittany Curran,English,NaN,USA,NaN
4331,6318,6318,http://www.imdb.com/title/tt2017486/?ref_=fn_t...,tt1781935,The Ridges,15-Oct-11,Brandon Landers,2.9,NaN,NaN,Robbie Barnes,Robert Grant,Alana Kaniewski,Ryan Dunk,English,NaN,USA,NaN
4332,6319,6319,http://www.imdb.com/title/tt3626436/?ref_=fn_t...,tt0436689,The Puffy Chair,27-Apr-07,"Jay Duplass, Mark Duplass",6.6,NaN,NaN,Mark Duplass,Katie Aselton,Rhett Wilkins,Julie Fischer,English,NaN,USA,NaN
4333,6320,6320,http://www.imdb.com/title/tt1105355/?ref_=fn_t...,tt3973612,Stories of Our Lives,17-Feb-15,Jim Chuchu,7.5,NaN,NaN,Kelly Gichohi,Paul Ogola,Tim Mutungi,Mugambi Nthiga,"Swahili,",English,"Kenya,",South
4334,6321,6321,http://www.imdb.com/title/tt3781616/?ref_=fn_t...,tt1247644,Breaking Upwards,14-Mar-09,Daryl Wein,6.2,IFC Films,NaN,Zoe Lister-Jones,Daryl Wein,Julie White,Andrea Martin,English,NaN,USA,NaN
4335,6322,6322,http://www.imdb.com/title/tt0790724/?ref_=fn_t...,tt1836212,All Superheroes Must Die,4-Jan-13,Jason Trost,4.0,Image Entertainment,NaN,Jason Trost,Lucas Till,James Remar,Sophie Merkley,English,NaN,USA,NaN
4336,6323,6323,http://www.imdb.com/title/tt3526286/?ref_=fn_t...,tt0069089,Pink Flamingos,1-Oct-79,John Waters,6.1,New Line Cinema,NaN,Divine,David Lochary,Mary Vivian Pearce,Mink Stole,English,NaN,USA,NaN
4337,6324,6324,http://www.imdb.com/title/tt1236254/?ref_=fn_t...,tt0388838,Clean,1-Sep-04,Olivier Assayas,6.9,Palm,NaN,Maggie Cheung,Nick Nolte,Béatrice Dalle,Jeanne Balibar,"French,","English,","France,","Canada,"
4338,6325,6325,http://www.imdb.com/title/tt0029583/?ref_=fn_t...,tt0255094,The Circle,9-Sep-00,Jafar Panahi,7.5,Winstar Cinema,NaN,Nargess Mamizadeh,Maryiam Palvin Almani,Mojgan Faramarzi,Elham Saboktakin,Persian,NaN,"Iran,","Italy,"
4339,6326,6326,http://www.imdb.com/title/tt0300270/?ref_=fn_t...,tt1235811,Tin Can Man,1-Mar-12,Ivan Kavanagh,6.5,MVD Entertainment Group,NaN,Patrick O'Donnell,Michael Parle,Emma Eliza Regan,Kreeta Taponen,English,NaN,Ireland,NaN
4340,6327,6327,http://www.imdb.com/title/tt0063592/?ref_=fn_t...,tt0123948,The Cure,8-Jul-01,Kiyoshi Kurosawa,7.4,Cowboy Pictures,NaN,Kôji Yakusho,Masato Hagiwara,Tsuyoshi Ujiki,Anna Nakagawa,"Japanese,",Spanish,Japan,NaN
4341,6328,6328,http://www.imdb.com/title/tt0374639/?ref_=fn_t...,tt0390323,On the Downlow,11-Jun-04,Tadeo Garcia,6.0,Docurama,NaN,Tony Sancho,Michael Cortez,Donato Cruz,Felipe Camacho,English,NaN,USA,NaN
4342,6329,6329,http://www.imdb.com/title/tt4063178/?ref_=fn_t...,tt2049518,Sanctuary; Quite a Conundrum,20-Jan-12,Thomas L. Phillips,5.3,T-Street Productions,NaN,Sasha Ramos,Erin Cline,Emily Rogers,Anthony Rutowicz,English,NaN,USA,NaN
4343,6330,6330,http://www.imdb.com/title/tt2577172/?ref_=fn_t...,tt0109266,Bang,1-Nov-97,Ash Baron-Cohen,6.4,Renegade Film,NaN,Darling Narita,Peter Greene,Michael Newland,Erik Schrody,English,NaN,USA,NaN
4344,6331,6331,http://www.imdb.com/title/tt3230082/?ref_=fn_t...,tt0390384,Primer,27-May-05,Shane Carruth,6.9,ThinkFilm,"$392,420",Shane Carruth,David Sullivan,Casey Gooden,Anand Upadhyaya,"English,",French,USA,NaN
4345,6332,6332,http://www.imdb.com/title/tt0464054/?ref_=fn_t...,tt0428303,Cavite,12-Mar-05,"Neill Dela Llana, Ian Gamazon",6.3,Gorilla Films,NaN,Ian Gamazon,Edwin Lagda,Edgar Tancangco,Norma Tancangco,"English,","Filipino,","Philippines,",USA
4346,6333,6333,http://www.imdb.com/title/tt0060153/?ref_=fn_t...,tt0104815,El Mariachi,26-Feb-93,Robert Rodriguez,6.9,Sony Pictures Home Entertainment,NaN,Carlos Gallardo,Consuelo Gómez,Jaime de Hoyos,Peter Marquardt,Spanish,NaN,USA,NaN
4347,6334,6334,http://www.imdb.com/title/tt0120735/?ref_=fn_t...,tt0430371,The Mongol King,23-Apr-05,Anthony Vallone,7.9,NaN,NaN,John Considine,Gerry Cooper,Carey Crim,Jessica Elassaad,English,NaN,USA,NaN
4348,6335,6335,http://www.imdb.com/title/tt3551840/?ref_=fn_t...,tt1880418,Newlyweds,26-Dec-11,Edward Burns,6.4,Phase 4 Films,NaN,Edward Burns,Kerry Bishé,Marsha Dietlein,Caitlin FitzGerald,English,NaN,USA,NaN
4349,6336,6336,http://www.imdb.com/title/tt0068135/?ref_=fn_t...,tt3000844,Signed Sealed Delivered,12-Oct-13,Scott Smith,7.7,NaN,NaN,Eric Mabius,Kristin Booth,Crystal Lowe,Geoff Gustafson,English,NaN,Canada,NaN

In [15]:
import sqlite3
FinalData = "C:\Users\RAJ_PATIL77\Downloads\DMDD\FinalData.sqlite" 
conn = sqlite3.connect("Finaldata1.db") 
c = conn.cursor()

### In the above cell we are importing sqlite3 and establishing a connection with sqlite3 server where-in our database will be stored.

In [16]:
TMovie=df[['imdbID', 'Title' , 'Released','imdbRating','Director', 'movie_imdb_link']].copy()
TMovie.head()

,imdbID,Title,Released,imdbRating,Director,movie_imdb_link
0,tt0499549,Avatar,18-Dec-09,7.8,James Cameron,http://www.imdb.com/title/tt0499549/?ref_=fn_t...
1,tt0449088,Pirates of the Caribbean: At World's End,25-May-07,7.1,Gore Verbinski,http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2,tt2379713,Spectre,6-Nov-15,6.8,Sam Mendes,http://www.imdb.com/title/tt2379713/?ref_=fn_t...
3,tt1345836,The Dark Knight Rises,20-Jul-12,8.4,Christopher Nolan,http://www.imdb.com/title/tt1345836/?ref_=fn_t...
4,tt5289954,Star Wars: Episode VII - The Force Awakens,18-Dec-15,7.2,Doug Walker,http://www.imdb.com/title/tt5289954/?ref_=fn_t...

### In the above cell we are creating a table named Tmovie from the larger Cleandata table imported above and the cell below we are inserting the table into the sqlite databse using the to_sql function of the sqlite3 library. We are repeating the same procedure for 4 more tables below.

In [17]:
c.executescript('drop table if exists TMovie;')
TMovie.to_sql('TMovie',                  
             con=conn,                    
             if_exists='replace',         
             index=False)

In [18]:
TActors=df[['imdbID','Actor1' , 'Actor2' , 'Actor3' , 'Actor4']].copy()
TActors.head()

,imdbID,Actor1,Actor2,Actor3,Actor4
0,tt0499549,Sam Worthington,Zoe Saldana,Sigourney Weaver,Stephen Lang
1,tt0449088,Johnny Depp,Geoffrey Rush,Orlando Bloom,Keira Knightley
2,tt2379713,Daniel Craig,Christoph Waltz,Léa Seydoux,Ralph Fiennes
3,tt1345836,Christian Bale,Gary Oldman,Tom Hardy,Joseph Gordon-Levitt
4,tt5289954,Doug Walker,Rob Walker,NaN,NaN

In [19]:
c.executescript('drop table if exists TActors;')
TActors.to_sql('TActors',                  
             con=conn,                    
             if_exists='replace',         
             index=False)

In [20]:
TDir=df[['imdbID','Director' ,'Title']].copy()
TDir.head()

      imdbID           Director                                       Title
0  tt0499549      James Cameron                                      Avatar
1  tt0449088     Gore Verbinski    Pirates of the Caribbean: At World's End
2  tt2379713         Sam Mendes                                     Spectre
3  tt1345836  Christopher Nolan                       The Dark Knight Rises
4  tt5289954        Doug Walker  Star Wars: Episode VII - The Force Awakens

In [21]:

TDir.to_sql('TDir',             
             con=conn,                   
             if_exists='replace',         
             index=False)

In [23]:
TProduction=df[['imdbID','ProductionName1']].copy()
TProduction.head()

      imdbID        ProductionName1
0  tt0499549       20th Century Fox
1  tt0449088            Buena Vista
2  tt2379713          Sony Pictures
3  tt1345836  Warner Bros. Pictures
4  tt5289954                    NaN

In [24]:
c.executescript('drop table if exists TProduction;')
TProduction.to_sql('TProduction',             
             con=conn,                 
             if_exists='replace',        
             index=False)

In [25]:
TLan=df[['imdbID','Lan1','Lan2']].copy()
TLan.head()

      imdbID      Lan1      Lan2
0  tt0499549  English,   Spanish
1  tt0449088   English       NaN
2  tt2379713  English,  Spanish,
3  tt1345836  English,    Arabic
4  tt5289954       NaN       NaN

In [26]:
c.executescript('drop table if exists TLan;')
TLan.to_sql('TLan',             
             con=conn,                 
             if_exists='replace',        
             index=False)

In [27]:
import sys
!{sys.executable} -m pip install twitter

Requirement already satisfied: twitter in c:\users\shiam\anaconda3\lib\site-packages (1.18.0)

notebook 5.4.0 requires ipykernel, which is not installed.
jupyter 1.0.0 requires ipykernel, which is not installed.
jupyter-console 5.2.0 requires ipykernel, which is not installed.
ipywidgets 7.1.1 requires ipykernel>=4.5.1, which is not installed.

In the above cell we are pip installing twitter and in the cell below we are establishing a connection with the twitter api and the authentication token is being stored in twitter_api which is then used hroughout the code.

In [28]:
import twitter 

CONSUMER_KEY = 'q0niiqccA3KNlMiPbnVX3F8ar'
CONSUMER_SECRET = '2xToL4IU7oAMgQ70uMdtGE9RYPxgTjZar2fjFbH05s5JhU9Yra'
OAUTH_TOKEN = '968971428505759745-eQnjGjJ3UloMciKH1fiqMnb1x9L5BSd'
OAUTH_TOKEN_SECRET = 'k530rP8R3Ch5gWJ36nYPUlHqktU0SbTFFeBvG0wDNRLYm'

auth = twitter.oauth.OAuth(OAUTH_TOKEN, OAUTH_TOKEN_SECRET,
                           CONSUMER_KEY, CONSUMER_SECRET)

twitter_api = twitter.Twitter(auth=auth)

print(twitter_api)

<twitter.api.Twitter object at 0x0000017AAAC3D748>

#### First attempt to make a tag table but since this code called the twitter api twice we needed to run it for more than 20 hours to extract tags related to all movies hence I modified it wherein we needed to call the twitter api only once.
import json
s=0
c.execute('Delete from TTags')
for i in a:
    q = i 
    n = 7
    from urllib.parse import unquote
    search_results = twitter_api.search.tweets(q=q, count=n)
    statuses = search_results['statuses']
    for _ in range(10):
        try:
            next_results = search_results['search_metadata']['next_results']
        except KeyError as e: # No more results when next_results doesn't exist
            break

        kwargs = dict([ kv.split('=') for kv in unquote(next_results[1:]).split("&") ])

        search_results = twitter_api.search.tweets(**kwargs)
        statuses += search_results['statuses']

    hashtags = [ hashtag['text'] 
                 for status in statuses
                     for hashtag in status['entities']['hashtags'] ]                   
    #print(json.dumps(hashtags[0:15], indent=1))
    dfh= pd.DataFrame(data = hashtags , columns=['hashtags'])
    #dfh=dfh.drop_duplicates(subset=['hashtags'])
    #print(dfh)
    for x in dfh['hashtags']:
        c.execute('insert into TTags values(?,?)',(i,x))
    s+=1
    if (s%175==0):
        time.sleep(900)

In [ ]:
# Second attempt which gave us 70724 tags

import json
s=0
#c.execute('Delete from TTags')
for i in a:
    q = i
    n = 180
    search_results = twitter_api.search.tweets(q=q, count=n)
    statuses = search_results['statuses']
    hash=[]
    for x in statuses:
        for y in range(len(x['entities']['hashtags'])):
            hash.append(x['entities']['hashtags'][y]['text'])
    for ent in hash:
        c.execute('insert into TTags values(?,?)',(i,ent))
    s+=1
    if (s%170==0):
        time.sleep(900)
#         break

In [73]:
output = "select * from TTags"
c.execute(output)
pd.DataFrame(c.fetchall(), columns=['',''])

0           Avatar  PredictionsAbout_SaintRampalJi
1           Avatar  PredictionsAbout_SaintRampalJi
2           Avatar                            KHUX
3           Avatar                    JamesCameron
4           Avatar                        Avengers
5           Avatar                           SciFi
6           Avatar                     Maharashtra
7           Avatar  PredictionsAbout_SaintRampalJi
8           Avatar                        EarthDay
9           Avatar                MondayMotivation
10          Avatar  PredictionsAbout_SaintRampalJi
11          Avatar  PredictionsAbout_SaintRampalJi
12          Avatar                          Avatar
13          Avatar                MondayMotivation
14          Avatar  PredictionsAbout_SaintRampalJi
15          Avatar                      CordobaEsp
16          Avatar                         Cordoba
17          Avatar                        Rafalcor
18          Avatar                          Sipote
19          Avatar                        EarthDay
20          Avatar                MondayMotivation
21          Avatar  PredictionsAbout_SaintRampalJi
22          Avatar                          Avatar
23          Avatar                    JamesCameron
24          Avatar                         Avatar2
25          Avatar                         Avatar3
26          Avatar  PredictionsAbout_SaintRampalJi
27          Avatar  PredictionsAbout_SaintRampalJi
28          Avatar  PredictionsAbout_SaintRampalJi
29          Avatar                        Devasena
...            ...                             ...
70694        Fargo                        bankexit
70695        Fargo                   nativematters
70696        Fargo                     Spectacular
70697        Fargo                   climatechange
70698        Fargo                         Million
70699        Fargo                  DebtFreeDegree
70700        Fargo                    scholarships
70701        Fargo                            HBCU
70702        Fargo                           quote
70703        Fargo                     socialmedia
70704        Fargo                    tweetjukebox
70705        Fargo                           quote
70706        Fargo                   quoteoftheday
70707        Fargo                           quote
70708        Fargo                 dailymotivation
70709        Fargo               ScumbagJoeManchin
70710  Logan's Run                            tech
70711  Logan's Run                            tech
70712  Logan's Run                             SPD
70713  Logan's Run                             TCM
70714  Logan's Run                       Westworld
70715  Logan's Run              CheckThatReference
70716  Logan's Run                       logansrun
70717  Logan's Run                   comicsforsale
70718  Logan's Run                       sanctuary
70719  Logan's Run                  londonmarathon
70720  Logan's Run                  londonmarathon
70721  Logan's Run                        GRGators
70722  Logan's Run    MoviesForWhenYouJustCantEven
70723  Logan's Run                        GRGators

[70724 rows x 2 columns]

In [78]:
output = "select * from TTags"
c.execute(output)
dft=pd.DataFrame(c.fetchall(), columns=['Title','Tags'])
dft.to_csv('Tagstable.csv')

In [86]:
c.execute('Drop table TTweets')
c.execute('Drop table Thash')
c.execute('Drop table Tuserhash')
c.execute('Drop table Tuser')

In [87]:
c.execute('create table TTweets(imdbID varchar(25),TID varchar(70),UID varchar (70),Tweet varchar(300), RTC int, FC int, URL varchar(100),date varchar(50) )')
c.execute('create table Thash(imdbID varchar(25),TID varchar(70), Tags varchar(30))')
c.execute('create table Tuserhash(imdbID varchar(25),Uscn varchar(70), Tags varchar(30))')
c.execute('create table Tuser(imdbID varchar(25),Uscn varchar(70),UName varchar(50), UFollowers int, UFollowing int)')

The tables created above will store critical twitter data which will be used to answer questions at the end of this notebook

#### The Code below basically calls the twitter api in a loop and searches for 180 tweets related to a certain movie (a is the list which contains movie names). The twitter api returns all the data related to the tweet like its like count, retweet count, location, date, time and much more
#### These records are than stored in a list named statuses.
#### Another loop which runs inside the first for-loop extracts data from the tweet records and inserts then into our tables which were created above. 
#### Since twitter approves of only 180 api requests per 15 minutes this code sleeps for 15 minutes after every 175 requests and continues running till the counter is 500. 
#### NOTE: The counter set in this code is wrong. Another variable is required which is corrected in the code below.

####  Attempt 1 to create more tables by scrapping data from twitter. Commited 2 mistakes. 1. forgot to connect the twitter tables with the movie database and second inserted in wrong order hance tweets went into a row with small varchar limit
```
import time
import json
s=0
c.execute('Delete from Tuser')
c.execute('Delete from TTweets')
c.execute('Delete from Tuserhash')
c.execute('Delete from Thash')

for i in a:
    q = i
    n = 100
    search_results = twitter_api.search.tweets(q=q, count=n)
    statuses = search_results['statuses']
    id=[]
    hash=[]
    for x in statuses:
        for y in range(len(x['entities']['hashtags'])):
            hash.append(x['entities']['hashtags'][y]['text'])
        tid=x['id_str']
        try:
            url=x['entities']['urls'][0]['url']
        except Exception as e:
            url="Null"
        uid=x['user']['screen_name']
        tweet=x['text']
        rtc= x['retweet_count']
        fc=x['favorite_count']
        date= x['created_at']
        d1=date.split(' ')
        month= d1[1]
        date=d1[2]
        year=d1[5]
        fd=date+' '+month+' '+year
        sname=x['user']['screen_name']
        name=x['user']['name']
        followers=x['user']['followers_count']
        following=x['user']['friends_count']
        c.execute('insert into TTweets values(?,?,?,?,?,?,?)',(tid,uid,tweet,rtc,fc,url,fd))
        c.execute('insert into Tuser values(?,?,?,?)',(sname,name,followers,following))
        for ent in hash:
            c.execute('insert into Tuserhash values(?,?)',(sname,ent))
            c.execute('insert into Thash values(?,?)',(tid,ent))
    s+=1
    if (s%175==0):
        time.sleep(900)
        if (s==500):
            break
```

In [118]:
c.execute('Delete from TTweets')
c.execute('Delete from Thash')
c.execute('Delete from Tuserhash')
c.execute('Delete from Tuser')

The code in the cell below is the same as the code in the cell above but with necessary changes like giving another variable to the loop counter and not the same which counts api requests

In [123]:
import time
import json
s=0
br=0
for index,row in dfm.iterrows():
    q = row['Title']
    imdbid=row['imdbID']
    n = 100
    search_results = twitter_api.search.tweets(q=q, count=n)
    statuses = search_results['statuses']
    
    for x in statuses:
        hash=[]
        for y in range(len(x['entities']['hashtags'])):
            hash.append(x['entities']['hashtags'][y]['text'])
        tid=x['id_str']
        try:
            url=x['entities']['urls'][0]['url']
        except Exception as e:
            url="Null"
        uid=x['user']['screen_name']
        tweet=x['text']
        rtc= x['retweet_count']
        fc=x['favorite_count']
        date= x['created_at']
        d1=date.split(' ')
        month= d1[1]
        date=d1[2]
        year=d1[5]
        fd=date+' '+month+' '+year
        sname=x['user']['screen_name']
        name=x['user']['name']
        followers=x['user']['followers_count']
        following=x['user']['friends_count']
        c.execute('insert into TTweets values(?,?,?,?,?,?,?,?)',(imdbid,tid,uid,tweet,rtc,fc,url,fd))
        c.execute('insert into Tuser values(?,?,?,?,?)',(imdbid,sname,name,followers,following))
        for ent in hash:
            c.execute('insert into Tuserhash values(?,?,?)',(imdbid,sname,ent))
            c.execute('insert into Thash values(?,?,?)',(imdbid,tid,ent))
    s+=1
    if (s%175==0):
        time.sleep(900)
        br+=0
        if (br==20): 
            break

In [295]:
a=df['Title']
a

0                                            Avatar
1          Pirates of the Caribbean: At World's End
2                                           Spectre
3                             The Dark Knight Rises
4        Star Wars: Episode VII - The Force Awakens
5                                       John Carter
6                                      Spider-Man 3
22                                          Tangled
23                          Avengers: Age of Ultron
24           Harry Potter and the Half-Blood Prince
25               Batman v Superman: Dawn of Justice
26                                 Superman Returns
27                                Quantum of Solace
28       Pirates of the Caribbean: Dead Man's Chest
29                                  The Lone Ranger
30                                     Man of Steel
31         The Chronicles of Narnia: Prince Caspian
32                                     The Avengers
48      Pirates of the Caribbean: On Stranger Tides
49                                   Men in Black 3
50        The Hobbit: The Battle of the Five Armies
51                           The Amazing Spider-Man
52                                       Robin Hood
53              The Hobbit: The Desolation of Smaug
54                               The Golden Compass
55                                        King Kong
136                                         Titanic
137                      Captain America: Civil War
138                                      Battleship
139                                  Jurassic World
                           ...
6307                                         Clerks
6308                                 Pink Narcissus
6309                                    Funny Ha Ha
6310                          In the Company of Men
6311                                         Manito
6312                                        Rampage
6313                                        Slacker
6314                                    Dutch Kills
6315                                      Dry Spell
6316                                       Flywheel
6317                                         Exeter
6318                                     The Ridges
6319                                The Puffy Chair
6320                           Stories of Our Lives
6321                               Breaking Upwards
6322                       All Superheroes Must Die
6323                                 Pink Flamingos
6324                                          Clean
6325                                     The Circle
6326                                    Tin Can Man
6327                                       The Cure
6328                                 On the Downlow
6329                   Sanctuary; Quite a Conundrum
6330                                           Bang
6331                                         Primer
6332                                         Cavite
6333                                    El Mariachi
6334                                The Mongol King
6335                                      Newlyweds
6336                        Signed Sealed Delivered
Name: Title, Length: 4350, dtype: object

c.execute('Create table TTime (rtc int, fc int,hours int, minutes int, seconds int )')

The code above did not extract time from tweets and hence it is run again with only time being extracted from statusesalong with retweet count and fav count and being stored in another table name TTime.

import json
s=0
c.execute('Delete from TTime')
for i in a:
    q = i
    n = 180
    search_results = twitter_api.search.tweets(q=q, count=n)
    statuses = search_results['statuses']
    break
statuses
    
    for x in statuses:
        date=x['created_at']
        d1=date.split(' ')
        tim=d1[3]
        t=tim.split(':')
        t1=t[0]
        t2=t[1]
        t3=t[2]
        rtc= x['retweet_count']
        fc=x['favorite_count']
        c.execute('insert into TTime values(?,?,?,?,?)',(rtc,fc,t1,t2,t3))
    s+=1
    if (s%175==0):
        time.sleep(900)
        br+=0
        if (br==4):
            break

The error given above is because the rate limit to call twitter api was exceeded.
also note that (c.execute('Delete from TTime') this piece of code will delete any values which are alredy present in the table TTIme and should not be part of the code if the code runs for the first time.

Below are all the tables that were made using the data gathered from twitter

output = "select * from TTime "
c.execute(output)
pd.DataFrame(c.fetchall(), columns=['','','','',''])

In [124]:
output = "select * from TTweets "
c.execute(output)
pd.DataFrame(c.fetchall(), columns=['','','','','','','',''])

,,,,,,,,
0,tt0499549,988943637089341440,superfided,RT @RogueAzula: Avatar: Fortnite Edition\n\nYo...,7432,0,Null,25 Apr 2018
1,tt0499549,988943626574159872,leao_letacio,@niltonjblima Viaja não avatar,0,0,Null,25 Apr 2018
2,tt0499549,988943623839518720,aesc_usmc,RT @ayyfortnite: They recreated the Avatar int...,11295,0,Null,25 Apr 2018
3,tt0499549,988943620446269440,DevinSacks,RT @ayyfortnite: They recreated the Avatar int...,11295,0,Null,25 Apr 2018
4,tt0499549,988943616839122944,oscarthesquid,RT @ItsAfroBoiii: When you see a nigga referri...,44,0,Null,25 Apr 2018
5,tt0499549,988943606302978048,BITCHEMOTICON,RT @ayyfortnite: They recreated the Avatar int...,11295,0,Null,25 Apr 2018
6,tt0499549,988943596211621890,trillyjavi,RT @ayyfortnite: They recreated the Avatar int...,11295,0,Null,25 Apr 2018
7,tt0499549,988943593111945216,AyeeRDBJ,RT @FortniteHome: Avatar: The Last AirBuilder ...,68,0,Null,25 Apr 2018
8,tt0499549,988943588435353601,MaliceToaster,@D0GGEAUX @00Himesaurus00 They have an Ugandan...,0,0,Null,25 Apr 2018
9,tt0499549,988943573281361920,vero_abrego,RT @ayyfortnite: They recreated the Avatar int...,11295,0,Null,25 Apr 2018
10,tt0499549,988943572450861056,keivenman,RT @RogueAzula: Avatar: Fortnite Edition\n\nYo...,7432,0,Null,25 Apr 2018
11,tt0499549,988943551080947712,kylebeauregard3,RT @ayyfortnite: They recreated the Avatar int...,11295,0,Null,25 Apr 2018
12,tt0499549,988943540678885376,MaidenOfWarfare,RT @RogueAzula: Avatar: Fortnite Edition\n\nYo...,7432,0,Null,25 Apr 2018
13,tt0499549,988943533762629632,SammuelLewis,RT @ayyfortnite: They recreated the Avatar int...,11295,0,Null,25 Apr 2018
14,tt0499549,988943508403900416,mattyvice,RT @RogueAzula: Avatar: Fortnite Edition\n\nYo...,7432,0,Null,25 Apr 2018
15,tt0499549,988943506902278144,acidayjodida,RT @hadaypirata: En el avatar / En la juntada ...,36,0,Null,25 Apr 2018
16,tt0499549,988943497188331520,ImJacobb,RT @RogueAzula: Avatar: Fortnite Edition\n\nYo...,7432,0,Null,25 Apr 2018
17,tt0499549,988943455257878528,patrick_nall21,RT @ayyfortnite: They recreated the Avatar int...,11295,0,Null,25 Apr 2018
18,tt0499549,988943438153420800,AnotherTipster,A free smile to anyone that can guess where th...,0,0,Null,25 Apr 2018
19,tt0499549,988943416812859392,thats_lolo,RT @ayyfortnite: They recreated the Avatar int...,11295,0,Null,25 Apr 2018
20,tt0499549,988943414191443968,SuperLovey9913,RT @RogueAzula: Avatar: Fortnite Edition\n\nYo...,7432,0,Null,25 Apr 2018
21,tt0499549,988943400379518976,heyswoos,RT @RogueAzula: Avatar: Fortnite Edition\n\nYo...,7432,0,Null,25 Apr 2018
22,tt0499549,988943377780695040,AcuosoXO,RT @ayyfortnite: They recreated the Avatar int...,11295,0,Null,25 Apr 2018
23,tt0499549,988943370222522368,wzrdwalter,RT @idkammaar97: Listen if Avengers Infinity W...,56,0,Null,25 Apr 2018
24,tt0499549,988943357329145857,Jack_Forsythe18,RT @RogueAzula: Avatar: Fortnite Edition\n\nYo...,7432,0,Null,25 Apr 2018
25,tt0499549,988943354670043137,queenamandita,RT @ayyfortnite: They recreated the Avatar int...,11295,0,Null,25 Apr 2018
26,tt0499549,988943352891572224,htxriaaah,RT @ayyfortnite: They recreated the Avatar int...,11295,0,Null,25 Apr 2018
27,tt0499549,988943346025496577,sonoputtputt,RT @idkammaar97: Listen if Avengers Infinity W...,56,0,Null,25 Apr 2018
28,tt0499549,988943316107649025,bosskyle911,RT @ayyfortnite: They recreated the Avatar int...,11295,0,Null,25 Apr 2018
29,tt0499549,988943313096052736,Joshua_Othmer,RT @ayyfortnite: They recreated the Avatar int...,11295,0,Null,25 Apr 2018
...,...,...,...,...,...,...,...,...
378665,tt3000844,988976279864168448,ThatRebecca,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378666,tt3000844,988975855643832320,ARTAPPLAUSE1,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378667,tt3000844,988975629528895488,hausoframez,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378668,tt3000844,988975559320449024,hausofcrus13,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378669,tt3000844,988975456237031424,FlawlessGlow_,Even tho Naomi signed sealed and delivered ton...,0,0,Null,25 Apr 2018
378670,tt3000844,988974713836683264,thena_taayalen,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378671,tt3000844,988974227171639301,dollopgaga,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378672,tt3000844,988974021780889600,creationofgodga,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378673,tt3000844,988973817488904192,solano_piero,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378674,tt3000844,988972969031421953,miranda_loli1,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378675,tt3000844,988972882129649664,Danny_Germ,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378676,tt3000844,988972489614151686,sbjayne,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378677,tt3000844,988972476242653185,MannySalazar,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378678,tt3000844,988971141225242624,Mdausa135,RT @abbeyclements: CT @MomsDemand delivered a ...,17,0,Null,25 Apr 2018
378679,tt3000844,988971059088158720,myblondsouth,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378680,tt3000844,988970834936057857,isexdreams,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378681,tt3000844,988970665096237056,stolemygags,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378682,tt3000844,988970613774548992,blurboi,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378683,tt3000844,988970247934783489,DannyFollonero,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378684,tt3000844,988969686049218561,clevelandampro1,RT @j_higgins6: Most definitely didn’t do this...,25,0,Null,25 Apr 2018
378685,tt3000844,988969319802515464,rooo_s,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378686,tt3000844,988969288152289280,ohseafarer,"YOU'VE GOT MAIL is on! They use ""Signed, Seale...",0,5,https://t.co/pZFrwmKZYL,25 Apr 2018
378687,tt3000844,988969260788658176,KathleenDeCarl1,RT @j_higgins6: Most definitely didn’t do this...,25,0,Null,25 Apr 2018
378688,tt3000844,988969220292661248,SlnceWeAreAlone,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378689,tt3000844,988968862422093824,laleydigaga,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378690,tt3000844,988968470799929345,Panagiota_V,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378691,tt3000844,988967813451862016,CharlesBrowniee,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378692,tt3000844,988967683512258560,selgaganiallmel,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378693,tt3000844,988967425231245313,NatsLovegame,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018
378694,tt3000844,988966993989591041,GuyKazem,"RT @AmyKinLA: I mean, the trailer for ""A Star ...",195,0,Null,25 Apr 2018

In [125]:
output = "select * from Tuser "
c.execute(output)
pd.DataFrame(c.fetchall(), columns=['','','','',''])

0       tt0499549       superfided      antisocial misfit    751    844
1       tt0499549     leao_letacio              O reu boi     67    111
2       tt0499549        aesc_usmc                  Asher    638   1582
3       tt0499549       DevinSacks            Devin Sacks    751   1887
4       tt0499549    oscarthesquid                Oscar✝️     48    102
5       tt0499549    BITCHEMOTICON                      🌙   2175    676
6       tt0499549       trillyjavi                 javi🤙🏽    441    490
7       tt0499549         AyeeRDBJ                Ray3️⃣x    328   1144
8       tt0499549    MaliceToaster          MaliceToaster    291    784
9       tt0499549      vero_abrego        Veronica Abrego    494    546
10      tt0499549        keivenman         keiven freeman     82    107
11      tt0499549  kylebeauregard3                 Kyle‼️    234    338
12      tt0499549  MaidenOfWarfare                sammi ♡   2807    217
13      tt0499549     SammuelLewis        F$OAgentCoulson    492    474
14      tt0499549        mattyvice               shmatt🇵🇷    432    476
15      tt0499549     acidayjodida           Pajarito 🌌🐦🌌   1781   1656
16      tt0499549         ImJacobb          • J Ã Ç Ø B •   1231   1019
17      tt0499549   patrick_nall21           Patrick Nall    759    706
18      tt0499549   AnotherTipster   TML-SC Another Brian    182     28
19      tt0499549       thats_lolo               Glogan☀️    427    348
20      tt0499549   SuperLovey9913               Ruby9913      3     30
21      tt0499549         heyswoos               Jesauce®    183    229
22      tt0499549         AcuosoXO             Acuoso X'O     57     67
23      tt0499549       wzrdwalter          Kྀing Wizardི    698    312
24      tt0499549  Jack_Forsythe18          Jack Forsythe    111    124
25      tt0499549    queenamandita                      A   1127    516
26      tt0499549        htxriaaah                      🦋   1699    905
27      tt0499549     sonoputtputt       Samuel Holtmeier    101    215
28      tt0499549      bosskyle911           Kyle Swisher    335    268
29      tt0499549    Joshua_Othmer                 Othmer   1113    763
...           ...              ...                    ...    ...    ...
378665  tt3000844      ThatRebecca         Rebecca Keegan  14430   1539
378666  tt3000844     ARTAPPLAUSE1               Fernando   3299   1022
378667  tt3000844      hausoframez                   Gaga  44637   2824
378668  tt3000844     hausofcrus13                  𝔠𝔥𝔯𝔦𝔰    739   1652
378669  tt3000844    FlawlessGlow_          KweensOnly 💋✨     95    112
378670  tt3000844   thena_taayalen                  Thena     63    131
378671  tt3000844       dollopgaga               Ꮆ.u.Ꮍ. 🌈   7561   7869
378672  tt3000844  creationofgodga          LG6 is coming   2922    678
378673  tt3000844     solano_piero    piero guzman solano     53     94
378674  tt3000844    miranda_loli1           Miranda Loli    358     44
378675  tt3000844       Danny_Germ          STIR THE POT!    382    302
378676  tt3000844          sbjayne          Samantha サマンサ   1767    425
378677  tt3000844     MannySalazar          Manny Salazar    257    365
378678  tt3000844        Mdausa135                     JT    197    567
378679  tt3000844     myblondsouth                  MIYO.    311     97
378680  tt3000844       isexdreams                      .  11842  12072
378681  tt3000844      stolemygags                   Walt    342    469
378682  tt3000844          blurboi      ᴉoqɹnlq 🏳️‍🌈🐾🧚‍♀️  51818  44039
378683  tt3000844   DannyFollonero                  Danny    256    644
378684  tt3000844  clevelandampro1    Akron Canton Am Pro   1339    567
378685  tt3000844           rooo_s                      .   3512   2309
378686  tt3000844       ohseafarer         lisa shininger    741    365
378687  tt3000844  KathleenDeCarl1       Kathleen DeCarlo    978    973
378688  tt3000844  SlnceWeAreAlone  #BuyCryPrettyOniTunes   2535    682
378689  tt3000844      laleydigaga           #LG6 waiting    100    211
378690  tt3000844      Panagiota_V                  Penny   1626    546
378691  tt3000844  CharlesBrowniee  Charlie Álvarez Verdi    341    182
378692  tt3000844  selgaganiallmel                  Uriel     38    458
378693  tt3000844     NatsLovegame       Perfect Delusion   6636   7062
378694  tt3000844         GuyKazem              Guy Kazem    446    235

[378695 rows x 5 columns]

In [126]:
output = "select * from Thash "
c.execute(output)
pd.DataFrame(c.fetchall(), columns=['','',''])

0      tt0499549  988943438153420800                         TMLTalk
1      tt0499549  988943438153420800                      StanleyCup
2      tt0499549  988943215809069056  PredictionsAbout_SaintRampalJi
3      tt0499549  988943203599433729                        EarthDay
4      tt0499549  988943194476998656                 HappyJayParkDay
5      tt0499549  988943194476998656                             박재범
6      tt0499549  988942633388138496                     wastingtime
7      tt0499549  988942633388138496                 wishiwasinmiami
8      tt0449088  988533987391033344                        DatoCine
9      tt0449088  988284755748773889                        DatoCine
10     tt0449088  988151038464221185                ThugsOfHindustan
11     tt0449088  988151038464221185           PiratesoftheCaribbean
12     tt0449088  988146839764586498                ThugsOfHindustan
13     tt0449088  988146839764586498           PiratesoftheCaribbean
14     tt0449088  987536575104987136                     FilmStruck4
15     tt0449088  987088462267518979                        DatoCine
16     tt0449088  987054481887059968                     FilmStruck4
17     tt2379713  988943571959992320                             GST
18     tt2379713  988941963285053441                         Russian
19     tt2379713  988941963285053441                        Facebook
20     tt2379713  988941912143990785                         Russian
21     tt2379713  988941912143990785                        Facebook
22     tt2379713  988938964731072512                         Russian
23     tt2379713  988938964731072512                        Facebook
24     tt2379713  988938703564255232                      SoundCloud
25     tt2379713  988938703564255232                              np
26     tt2379713  988938381714485253                         Marxism
27     tt2379713  988938381714485253                    ComeyHearing
28     tt2379713  988937489460047872                         Russian
29     tt2379713  988937489460047872                        Facebook
...          ...                 ...                             ...
98901  tt3000844  988978030264619009                       CinemaCon
98902  tt3000844  988978028352024576                       CinemaCon
98903  tt3000844  988977314523332608                       CinemaCon
98904  tt3000844  988977306520633344                       CinemaCon
98905  tt3000844  988977110776594433                       CinemaCon
98906  tt3000844  988976279864168448                       CinemaCon
98907  tt3000844  988975855643832320                       CinemaCon
98908  tt3000844  988975629528895488                       CinemaCon
98909  tt3000844  988975559320449024                       CinemaCon
98910  tt3000844  988974713836683264                       CinemaCon
98911  tt3000844  988974227171639301                       CinemaCon
98912  tt3000844  988974021780889600                       CinemaCon
98913  tt3000844  988973817488904192                       CinemaCon
98914  tt3000844  988972969031421953                       CinemaCon
98915  tt3000844  988972882129649664                       CinemaCon
98916  tt3000844  988972489614151686                       CinemaCon
98917  tt3000844  988972476242653185                       CinemaCon
98918  tt3000844  988971059088158720                       CinemaCon
98919  tt3000844  988970834936057857                       CinemaCon
98920  tt3000844  988970665096237056                       CinemaCon
98921  tt3000844  988970613774548992                       CinemaCon
98922  tt3000844  988970247934783489                       CinemaCon
98923  tt3000844  988969319802515464                       CinemaCon
98924  tt3000844  988969220292661248                       CinemaCon
98925  tt3000844  988968862422093824                       CinemaCon
98926  tt3000844  988968470799929345                       CinemaCon
98927  tt3000844  988967813451862016                       CinemaCon
98928  tt3000844  988967683512258560                       CinemaCon
98929  tt3000844  988967425231245313                       CinemaCon
98930  tt3000844  988966993989591041                       CinemaCon

[98931 rows x 3 columns]

In [127]:
output = "select * from Tuserhash "
c.execute(output)
pd.DataFrame(c.fetchall(), columns=['','',''])

0      tt0499549   AnotherTipster                         TMLTalk
1      tt0499549   AnotherTipster                      StanleyCup
2      tt0499549    Gopal22216607  PredictionsAbout_SaintRampalJi
3      tt0499549    Gopal22216607                        EarthDay
4      tt0499549       FelixSther                 HappyJayParkDay
5      tt0499549       FelixSther                             박재범
6      tt0499549    AmbrosiaMusic                     wastingtime
7      tt0499549    AmbrosiaMusic                 wishiwasinmiami
8      tt0449088    BetyboMediina                        DatoCine
9      tt0449088      Natchevaz07                        DatoCine
10     tt0449088  PrinceRKA631314                ThugsOfHindustan
11     tt0449088  PrinceRKA631314           PiratesoftheCaribbean
12     tt0449088        BlogDrive                ThugsOfHindustan
13     tt0449088        BlogDrive           PiratesoftheCaribbean
14     tt0449088      damainwayne                     FilmStruck4
15     tt0449088    Escena_Latina                        DatoCine
16     tt0449088         foxdeer_                     FilmStruck4
17     tt2379713    rasheedkidwai                             GST
18     tt2379713   imaterriermama                         Russian
19     tt2379713   imaterriermama                        Facebook
20     tt2379713          miak671                         Russian
21     tt2379713          miak671                        Facebook
22     tt2379713          stlajn1                         Russian
23     tt2379713          stlajn1                        Facebook
24     tt2379713         pelegrim                      SoundCloud
25     tt2379713         pelegrim                              np
26     tt2379713         MarxBot2                         Marxism
27     tt2379713         MarxBot2                    ComeyHearing
28     tt2379713   dolphsteelbear                         Russian
29     tt2379713   dolphsteelbear                        Facebook
...          ...              ...                             ...
98901  tt3000844      Gabiescence                       CinemaCon
98902  tt3000844    chrishernandz                       CinemaCon
98903  tt3000844      gagamorgana                       CinemaCon
98904  tt3000844        Mitch_lsw                       CinemaCon
98905  tt3000844          kxxrave                       CinemaCon
98906  tt3000844      ThatRebecca                       CinemaCon
98907  tt3000844     ARTAPPLAUSE1                       CinemaCon
98908  tt3000844      hausoframez                       CinemaCon
98909  tt3000844     hausofcrus13                       CinemaCon
98910  tt3000844   thena_taayalen                       CinemaCon
98911  tt3000844       dollopgaga                       CinemaCon
98912  tt3000844  creationofgodga                       CinemaCon
98913  tt3000844     solano_piero                       CinemaCon
98914  tt3000844    miranda_loli1                       CinemaCon
98915  tt3000844       Danny_Germ                       CinemaCon
98916  tt3000844          sbjayne                       CinemaCon
98917  tt3000844     MannySalazar                       CinemaCon
98918  tt3000844     myblondsouth                       CinemaCon
98919  tt3000844       isexdreams                       CinemaCon
98920  tt3000844      stolemygags                       CinemaCon
98921  tt3000844          blurboi                       CinemaCon
98922  tt3000844   DannyFollonero                       CinemaCon
98923  tt3000844           rooo_s                       CinemaCon
98924  tt3000844  SlnceWeAreAlone                       CinemaCon
98925  tt3000844      laleydigaga                       CinemaCon
98926  tt3000844      Panagiota_V                       CinemaCon
98927  tt3000844  CharlesBrowniee                       CinemaCon
98928  tt3000844  selgaganiallmel                       CinemaCon
98929  tt3000844     NatsLovegame                       CinemaCon
98930  tt3000844         GuyKazem                       CinemaCon

[98931 rows x 3 columns]

In [130]:
output = "select * from TTweets"
c.execute(output)
dft=pd.DataFrame(c.fetchall(), columns=['imdbID','tid','url','uname','tweet','retweet count','fav cout','date'])
dft.to_csv('NTtable.csv')

output = "select * from Tuser"
c.execute(output)
dft=pd.DataFrame(c.fetchall(), columns=['imdbID','user name','Tags','followers','following'])
dft.to_csv('NUsertable.csv')

output = "select * from Thash"
c.execute(output)
dft=pd.DataFrame(c.fetchall(), columns=['imdbID','tid','Tags'])
dft.to_csv('NHashtable.csv')

output = "select * from Tuserhash"
c.execute(output)
dft=pd.DataFrame(c.fetchall(), columns=['imdbID','User name','Tags'])
dft.to_csv('NUhashtable.csv')

### Below I am physically importing the CSV files of the tables which were made by using the twiter data because my database was locked down and I restarted my laptop which resulted into my databse not being recognised anymore. Hence I imported the file and inserted them into the databse explicitely after creating a new database.

In [29]:
dfn1 = pd.read_csv("C:\Users\RAJ_PATIL77\Downloads\DMDD\Tagstable.csv")
dfn2 = pd.read_csv("C:\Users\RAJ_PATIL77\Downloads\DMDD\NUsertable.csv")
dfn3 = pd.read_csv("C:\Users\RAJ_PATIL77\Downloads\DMDD\NTtable.csv")
dfn4 = pd.read_csv("C:\Users\RAJ_PATIL77\Downloads\DMDD\NUhashtable.csv")
dfn5 = pd.read_csv("C:\Users\RAJ_PATIL77\Downloads\DMDD\NHashtable.csv")

# The MIT License

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

# Attribution 3.0 United States (CC BY 3.0 US) 


You are free to:

    Share — copy and redistribute the material in any medium or format
    Adapt — remix, transform, and build upon the material
    for any purpose, even commercially.

This license is acceptable for Free Cultural Works.

    The licensor cannot revoke these freedoms as long as you follow the license terms.

Under the following terms:

    Attribution — You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.

    No additional restrictions — You may not apply legal terms or technological measures that legally restrict others from doing anything the license permits.

Notices:

    You do not have to comply with the license for elements of the material in the public domain or where your use is permitted by an applicable exception or limitation.
    No warranties are given. The license may not give you all of the permissions necessary for your intended use. For example, other rights such as publicity, privacy, or moral rights may limit how you use the material.